<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/generic.css">
    <link rel="stylesheet" href="/static/css/registro_usuarios.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/dashboard_administrador">Dashboard</a></li>
                <li><a href="/registro_usuarios">Gestion Usuarios</a></li>
                <li><a href="/registro_paciente_animal">Gestion Paciente</a></li>
                <li><a href="/gestion_insumos">Gestion Insumos</a></li>
                <li><a href="/medicamento">Gestion Medicamentos</a></li>
            </ul>

            <div class="btn-group">
                <a href="{{ url_for('rutas_login.login') }}" class="btn-cupo">🔒 Cerrar Sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
        <h1>Modificar Usuario</h1>
        <form action="/modificar_consultas/{{ consulta.id_consulta }}" method="POST">
        <label for="motivo_consulta">Motivo de consulta:</label>
        <input type="text" name="motivo_consulta" id="motivo_consulta"  value="{{ consulta.motivo_consulta }}" required>
        <label for="diagnostico">Diagnóstico:</label>
        <input type="text"name="diagnostico" id="diagnostico"  value="{{ consulta.diagnostico }}" required>

        <label for="tratamientos">Tratamientos recomendados:</label>
        <input type="text" name="tratamientos" id="tratamientos" value="{{ consulta.tratamiento }}" >

        <label for="medicamentos">Medicamentos recetados:</label>
        <input type="text" name="medicamentos" id="medicamentos" value="{{ consulta.medicamentos }}" >

        <label for="observaciones">Observaciones adicionales:</label>
        <input type="text" name="observaciones" id="observaciones" value="{{ consulta.observaciones }}" >

        <label for="estado_consulta">Estado de la Consulta:</label>
        <select name="estado_consulta" required>
            <option value="Activa">Activa</option>
            <option value="Cerrada">Cerrada</option>
        </select>
        
        <a href="/listar_consulta" class="btn btn-warning">Volver</a>
        <button type="submit" class="btn btn-success">Modificar</button>

        </form>
    </main>


    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
    <script src="/static/js/error.js"></script>
</body>
</html>