<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/generic.css">
    <link rel="stylesheet" href="/static/css/listar_usuarios.css">
    
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/dashboard_administrador">Dashboard</a></li>
                <li><a href="/registro_usuarios">Gestion Usuarios</a></li>
                <li><a href="/registro_paciente_animal">Gestion Paciente</a></li>
            </ul>
            <div class="btn-group">
                <a href="{{ url_for('rutas_login.login') }}" class="btn-cupo">🔒 Cerrar Sesión</a>
            </div>
        </nav>
    </header>
    <h1>Usuarios Registrados</h1>
    {% if textM %}
        <div class="alert alert-warning">{{ textM }}</div>
    {% endif %}
    {% if text %}
        <div class="alert alert-success">{{ text }}</div>
    {% endif %}
    {% if textE %}
        <div class="alert alert-danger">{{ textE }}</div>
    {% endif %}
    <main>
        <table>
            <thead>
                <tr>
                    <th>N° Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo Documento</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.numero_documento }}</td>
                    <td>{{ usuario.nombre_usuario }}</td>
                    <td>{{ usuario.apellido_usuario }}</td>
                    <td>{{ usuario.tipo_documento_usuario }}</td>
                    <td>{{ usuario.correo_electronico_usuario }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.nombre_rol }}</td>
                    <td>
                        <a href="/modificar_usuarios/{{ usuario.numero_documento }}" class="btn btn-success">Editar</a>
                        <a href="/eliminar_usuarios/{{ usuario.numero_documento }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
</html>
