<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registro_usuarios.css">
    <link rel="stylesheet" href="/static/css/generic.css">
    <title>Gestion usuarios</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <h1>Registro Nuevo usuario</h1>

    <form action="/registro_usuarios" method="POST">
    
    <label>Nombres completos</label>
    <input type="text" name="nombre_usuario">
    <label>Apellidos completos</label>
    <input type="text" name="apellido_usuario">
    <br>
    <label>Tipo de documento</label>
    <select id="documento" name="tipo_documento_usuario">
        <option value="">---- Seleccione uno ----</option>
        <option value="CC">Cedula de Ciudadania</option>
        <option value="CE">Cedula de Extranjeria</option>
        <option value="PASAPORTE">Pasaporte</option>
        <option value="PPT">PPT</option>
    </select>
    <label>Número de Documento</label>
    <input type="text" name="numero_documento">
    <br> 
    <label>Correo electronico</label>
    <input type="email" name="correo_electronico_usuario">
    <br>
    <label>Celular</label>
    <input type="text" name="telefono">
    <label>Rol</label>
    <select name="rol" id="rol">
        <option value="">---- Seleccione uno ----</option>
        <option value="Administrador">Administrador</option>
        <option value="Medico_Veterinario">Medico Veterinario</option>
        <option value="Cliente">Cliente</option>
    </select>
    <br>
    <label>Contraseña</label>
    <input type="password" name="contrasena">
    <br>
    <input type="checkbox">Al registrarme, acepto los Términos de Uso y la Política de Privacidad
    <br>
    <input type="submit" value="Registrar" name="action">
    <br>
    <input type="submit" value="Ver lista de usuarios" name="action">
    </form>

<h1>{{text}}</h1>


    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
</html>