<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/generic.css">
    <link rel="stylesheet" href="/static/css/contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap" rel="stylesheet">
    <title>Petfriendly - Contactenos</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <section class="info-contacto">
        <div id="sobre-nosotros">
            Juntos por su bienestar. Porque no es solo una mascota, es familia.
        </div>
        <div id="contacto">
            <h1>Contacto</h1>
            <br>
            <P>Correo: Dari_martinez94@hotmail.com</P>
            <br>
            <P>Dirección: Calle 14 # 16-48 </P>
            <br>
            <p>Celular: +57 310 5975127 </p>
        </div>
    </section>
    <section class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.3157644055063!2d-75.67371792411798!3d4.537053995437427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5ab90e711a5%3A0xc56216a0a70632b6!2sCl.%2014%20%23%2016-48%2C%20Armenia%2C%20Quind%C3%ADo!5e0!3m2!1ses-419!2sco!4v1750140375026!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
</html>