<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/generic.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap" rel="stylesheet">
    <title>Bienvenidos a Petfriendly</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="container">
        <div class="imagen"></div>
        <div class="contenido">
            <h1>PetFriendly</h1>
            <h2>
                sistema de información para la gestión de pacientes y 
                recursos en centro veterinario patitas
            </h2>
            <br>
            <p>Rescatamos, cuidamos y damos hogar a los peluditos.</p>
            <div>
                <a href="/login">Ingresar a PetFriendly</a>
            </div>
            
        </div>
    </section>

    <section class="sector-uno">
            <div id="imagen-servicios">
            </div>  
            <div class="texto-servicios">
                <h1>¡Cuidamos a tu mascota como si fuera parte de nuestra familia!</h1>
                <br>
                <p>
                    Nos especializamos en el ejercicio integral de la Medicina Veterinaria enfocada en el bienestar de perros, gatos y animales rescatados. Nuestra labor abarca la prevención y tratamiento de enfermedades, manejo del comportamiento, nutrición, procesos de esterilización, rehabilitación, y acompañamiento en la adopción responsable.
                </p>
                <br>
                <ul>
                    <li>Personal profesional, sensible y comprometido con la causa animal.</li>
                    <li>Equipos clínicos adecuados para diagnósticos y procedimientos.</li>
                    <li>Disponibilidad de medicamentos, alimentos y productos veterinarios</li>
                    <li>Acompañamiento en procesos de rescate, recuperación y adopción.</li>
                </ul>
                <br>
                <a href="/servicios">Servicios</a>
            </div>  
    </section>

    <section class="sector-dos">
            <div class="texto-contactenos">
                <h1>Siempre listos para cuidar a tu mascota cuando más lo necesita.</h1>
                <br>
                <a href="/contactenos">Contactenos</a>
            </div> 
            <div id="imagen-contactenos">
            </div>  
    </section>
    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
    
</body>
</html>