main{
    flex: 1;
}

body {
font-family: Arial, sans-serif;
background-color: #f4f6f8;
text-align: center;
}

.avatar{
    background-image: url("/static/img/Avatar_cliente.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

h1 {
color: #0C254B;
margin: 50px;
}

.info {
    margin-bottom: 30px;
}

.mensaje-bienvenida {
    font-size: 24px;
    color: #243238;
    margin-bottom: 50px;

}

.resumen {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin: 40px 0;
}


.card {
background: white;
border-radius: 15px;
padding: 30px;
width: 250px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
margin-bottom: 10px;
color: #243238;
}

.card p {
font-size: 24px;
font-weight: bold;
color: #F41F00;
}

.imagen-usuarios{
    background-image: url("/static/img/usuario.png");
    background-position: bottom;
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-bottom: 10px;
}

.btn-panel {
display: inline-block;
margin: 10px;
padding: 12px 24px;
background-color: #0C254B;
color: #fff;
text-decoration: none;
border-radius: 10px;
}

.btn-panel:hover {
background-color: #F41F00;
}
