main{
    flex: 1;
}

.login-container {
    width: 25%;
    max-height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

input, textarea {
    width: 85%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #009bf4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3ba8e7;
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-cupo {
    flex: 1;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-cambios {
    flex: 1;
    background-color: #1e88e5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.mensaje {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}
