<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Jornada de Vacunación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jornada.css') }}">
</head>
<body>
    

    <div class="contenedor">
        <h2>Jornada de Vacunación Perros y Gatos</h2>
            <div class="banner-jornada"></div>

        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre del amo" required>
            <input type="date" name="fecha" required>
            <input type="time" name="hora" required>
            <input type="text" name="lugar" placeholder="Lugar" required>
            <input type="text" name="raza" placeholder="raza" required>
            <input type="text" name="sexo" placeholder="sexo del animal " required>
            <textarea name="observaciones " placeholder="observaciones" required></textarea>
            <button type="submit">Registrar jornada</button>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mensaje">
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
