<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | {{ session['rol'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/css/generic.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/dashboard_administrador">Dashboard</a></li>
                <li><a href="/registro_usuarios">Gestion Usuarios</a></li>
                <li><a href="/registro_paciente_animal">Gestion Paciente</a></li>
                <li><a href="/seleccionar_paciente_consulta">Registrar Consulta</a></li>
            </ul>

            <div class="btn-group">
                <a href="{{ url_for('rutas_login.login') }}" class="btn-cupo">🔒 Cerrar Sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="mensaje-bienvenida">
            <h1>Bienvenido, {{ session['nombre'] }} {{ session['apellido'] }} </h1>
            <h2>Panel de Administración</h2>
        </div>
        

        <div class="resumen">
        <div class="card">
            <h2>👥 Usuarios registrados</h2>
            <p>{{ total_usuarios }}</p>
        </div>
        <div class="card">
            <h2>🐾 Animales en sistema</h2>
            <p>{{ total_animales }}</p>
        </div>
        <div class="card">
            <h2>📅 Citas pendientes</h2>
            <p>{{ total_citas }}</p>
        </div>
        <div class="card">
            <h2>📉 Stock bajo</h2>
            <p>{{ productos_bajo_stock }}</p>
        </div>
    </div>
    </main>
    
    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
    </html>
