<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css  ">
    <title>Bienvenidos a Petfriendly</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="container">
        <div class="imagen"></div>
        <div class="contenido">
            <h1>PetFriendly</h1>
            <h2>
                sistema de información para la gestión de pacientes y 
                recursos en centro veterinario patitas
            </h2>
            <br>
            <p>Rescatamos, cuidamos y damos hogar a los peluditos.</p>
    
            <a href="/login">Iniciar sesión</a>
        </div>
    </section>

    <section class="sector-uno">
            <div id="imagen-servicios">
            </div>  
            <div class="texto-servicios">
                <h1>¡Cuidamos a tu mascota como si fuera parte de nuestra familia!</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus porttitor nibh et suscipit. Etiam tellus diam, dignissim varius elit in, volutpat sollicitudin enim. Suspendisse sem diam, laoreet sed lectus at, rhoncus aliquam sapien. Curabitur finibus sed est at tincidunt. Etiam sed massa mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <br>
                <ul>
                    <li>cha</li>
                    <li>pe</li>
                    <li>to</li>
                    <li>me</li>
                </ul>
                <br>
                <a href="/servicios">Servicios</a>
            </div>  
    </section>

    <section class="sector-dos">
            <div class="texto-contactenos">
                <h1>¡Cuidamos a tu mascota como si fuera parte de nuestra familia!</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus porttitor nibh et suscipit. Etiam tellus diam, dignissim varius elit in, volutpat sollicitudin enim. Suspendisse sem diam, laoreet sed lectus at, rhoncus aliquam sapien. Curabitur finibus sed est at tincidunt. Etiam sed massa mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <br>
                <a href="/contactenos">Contactenos</a>
            </div> 
            <div id="imagen-contactenos">
            </div>  
    </section>
    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
    
</body>
</html>