<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css  ">
    <title>Bienvenidos</title>
</head>
<body>
    <header>
        <nav class="menu">
            <img src="/static/img/patitas3.png" alt="patitas-logo">
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">mision</a></li>
                <li><a href="#">vision</a></li>
                <li><a href="#">contactenos</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="container">

        <div class="imagen">
            <img src="/static/img/patitas2.png" alt="patitas-logo">
        </div>
        <div class="contenido">
            <h1>Centro Veterinario Patitas</h1>
        <p>Rescatamos, cuidamos y damos hogar a los peluditos.</p>
    
        <a href="/login">Iniciar sesión</a>
        </div>
        
    </div>
    
</body>
</html>