<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/servicios.css">
    <title>PetFriendly - Servicios</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="titulo-servicio">Nuestros servicios</h1>
    <section class="nuestros-servicios">
        <div class="caja-principal">
            <div id="caja-servicios">
                <div id="servicio-uno">
                    <h2>Consulta medica veterinaria</h2>
                </div>

                <div id="servicio-dos">
                    <h2>Esterilización</h2>
                </div>

                <div id="servicio-tres">
                    <h2>Vacunación</h2>
                </div>  
            </div>
            <br>
            <div id="caja-servicios">
                <div id="servicio-cuatro">
                    <h2>Desparasitación</h2>
                </div>

                <div id="servicio-cinco">
                    <h2>Adopcion</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="contactar">
            <h1>Todo para su salud, felicidad y bienestar, en un solo lugar con corazón.</h1>
            <br>
            <p>Porque su salud no puede esperar, agenda su consulta ya.</p>
            <br>
            <a href="/contactenos">Contactenos</a>
    </section>

    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
</html>