<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/servicios.css">
    <title>PetFriendly - Servicios</title>
</head>
<body>
    <header>
        <div class="logo">
        <nav class="menu">
            
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/contactenos">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <section class="nuestros-servicios">
        <div class="caja-principal">
            <div id="caja-servicios">
                <div id="servicio-uno">
                1
                </div>
                <div id="servicio-dos">
                2
                </div>
                <div id="servicio-tres">
                3
                </div>  
            </div>
            <br>
            <div id="caja-servicios">
                <div id="servicio-uno">
                1
                </div>
                <div id="servicio-dos">
                2
                </div>
                <div id="servicio-tres">
                3
                </div>  
            </div>
        </div>
        

    </section>

    <footer>
        <div>
            Copyright © 2025 Developed by Trio Imperial co.
        </div>

        <div>
            Powered by Petfriendly
        </div>
    </footer>
</body>
</html>